/*  your css code here. If applicable */
.box{
	display:flex;
	justify-content:center;
	align-items:center;
	
	animation:pulse 1s ease-in-out infinite;
	
	height:100px;
	width:100px;
	background-color:red;
	
}

@keyframes pulse {
                0% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(1.1);
                }
                100% {
                    transform: scale(1);
                }
            }